.click-button {
  width: 100px;
  height: 100px;
  background: url('./images/bitcoin_img.svg') no-repeat center/contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #777;
}
